@import "tailwindcss";

:root {
  --primary: #001408;
  --secondary: #030c07;
  --forest: #00200f;
  --tertiary: #70ee45;
  --accent: #13b92c;
  --surface: #fdfffb;
  --ivory: #f7fcfa;
  --mint: #e7ffe1;
  --fog: #344636;

  --background: var(--surface);
  --foreground: var(--primary);
}

@theme inline {
  --breakpoint-2xl: 1440px;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-forest: var(--forest);
  --color-tertiary: var(--tertiary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-ivory: var(--ivory);
  --color-mint: var(--mint);
  --color-fog: var(--fog);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-roboto), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--font-family-inter), ui-sans-serif, system-ui, sans-serif;
  --font-midnight: var(--font-family-midnight), ui-serif, Georgia, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--secondary);
    --foreground: var(--surface);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
